@font-face {
  font-family: 'Bebas';
  src: url("fonts/bebas/BebasNeue_Regular.otf") format("truetype"); }
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Lato; }

a {
  color: #00CDBD; }

h1 {
  font-size: 3.6rem;
  font-family: Bebas;
  color: #2881c7;
  margin: 0 0; }
  h1.white {
    color: #fff; }

h2 {
  margin: 0 0;
  font-size: 2.4rem;
  color: #2881c7; }

h4 {
  margin: 0 0;
  font-size: 2.4rem;
  font-family: bebas;
  text-align: left;
  color: #fff; }

h5 {
  margin: 5px 0;
  font-size: 4.8rem;
  font-family: bebas;
  text-align: left;
  color: #00CDBD; }

h6 {
  margin: 0 0;
  font-size: 2.4rem;
  font-family: bebas;
  text-align: left;
  color: #fff; }

p {
  margin: 10px 0;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #4C4845;
  letter-spacing: .05rem;
  font-weight: 500; }

.clear {
  clear: both; }

.container {
  width: 940px;
  margin: 0 auto; }
  .container .full-width {
    width: 100%;
    margin: 0 1.06%;
    float: left;
    display: block; }
  .container .col-8 {
    width: 63.82%;
    margin: 0 1.06%;
    float: left;
    display: block; }
  .container .col-6 {
    width: 47.87%;
    margin: 0 1.06%;
    float: left;
    display: block; }
  .container .col-5 {
    width: 22.87%;
    margin: 0 1.06% 0 15.58%;
    float: left;
    display: block; }
    .container .col-5 img {
      display: block;
      margin: 0 auto; }
  .container .col-4 {
    width: 31.91%;
    margin: 0 1.06%;
    float: left;
    display: block; }
  .container .col-3 {
    width: 22.87%;
    margin: 0 1.06%;
    float: left;
    display: block; }
    .container .col-3 img {
      display: block;
      margin: 0 auto; }
  .container .footer-col-3 {
    width: 22.87%;
    margin: 0 1.06%;
    float: right;
    display: block; }
    .container .footer-col-3 img {
      display: block;
      margin: 0 auto; }
  .container .nav-width {
    width: auto;
    float: right;
    margin: 0 0; }
  .container .col-2 {
    width: 14.52%;
    margin: 0 1.06%;
    float: left;
    display: block; }
  .container .offset-col-2 {
    margin-left: 0 15.58%; }
  .container .col-logo {
    width: 14.52%;
    margin: 0 1.06% 0 5.26%;
    float: left;
    display: block; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 9999;
  background: #2881c7; }
  header ul {
    margin-top: 0px;
    float: right;
    display: inline-block; }
    header ul li {
      display: inline-block;
      padding: 0px 15px;
      text-align: center;
      font-family: Bebas;
      font-size: 2.4rem;
      color: #FFFFFF;
      line-height: 7.0rem; }
      header ul li a {
        color: #fff;
        text-decoration: none; }

.navbarlogo img {
  float: left;
  padding: 6px 0 0 10px;
  width: 60px; }

/*---------   Slides   ---------*/
.slide {
  position: relative;
  padding: 60px 10%;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit; }

img:last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%) rotate(-5deg); }

.slide:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.title {
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); }

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto; }

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0; }

.slide, .slide:before {
  background: 50% 0% / cover; }

#title {
  background-image: url("../images/grandrapids.jpg");
  background-attachment: fixed;
  background-position: 30% -180px;
  height: 600px; }

#slide1 {
  height: 350px; }
  #slide1 :before {
    background: #fff;
    transform: translateZ(-1px) scale(2);
    z-index: -1; }

.logo {
  padding-top: 120px; }

#slide2 {
  height: 480px;
  background: #F2F8FC;
  background-attachment: fixed; }

.aboutimage {
  margin-top: 30px; }

#slide3:before {
  background-image: url("");
  transform: translateZ(-1px) scale(2);
  z-index: -1; }

#slide4 {
  background: #FEF7E7; }

/*---------- GOOGLE MAP STYLES ----------*/
#s {
  height: 400px;
  width: 100%; }

.gm-style-iw * {
  display: block;
  width: 100%; }

.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0; }

.gm-style-iw a {
  color: #4272db; }

#slide5 {
  background: #FEF7E7;
  background-attachment: fixed;
  height: 700px; }
  #slide5 h1 {
    padding-bottom: 10px; }
  #slide5 h2 {
    padding-top: 20px; }

#slide6 {
  height: 820px; }
  #slide6 :before {
    background: #fff;
    transform: translateZ(-1px) scale(2);
    z-index: -1; }
  #slide6 h2 {
    padding-top: 25px;
    padding-bottom: 10px; }
  #slide6 ul {
    margin-top: 5px;
    font-size: 1.8rem;
    list-style-type: square;
    color: #FAB516; }
    #slide6 ul li {
      padding-bottom: 5px; }

.text {
  color: #4C4845; }

.splogo {
  height: 140px; }

img.smlogo {
  width: 75%;
  margin: 0 28%; }

.vhlogo {
  padding-top: 53px; }

#slide7 {
  background: #FEF7E7;
  background-attachment: fixed;
  z-index: 1; }
  #slide7 p {
    display: inline-block;
    width: 63.82%;
    margin: 0 1.06%; }

.downloadicon {
  margin: 13px 13px 13px 13px; }

.button {
  background-color: #FAB516;
  display: inline-block; }
  .button img {
    float: left; }
  .button .buttontext {
    padding: 12px 12px 7px 0px;
    color: #fff;
    float: left;
    font-size: 2.4rem; }

#slide8:before {
  background-image: url("");
  transform: translateZ(-1px) scale(2);
  z-index: -1; }

#slide9 {
  background: #2881c7;
  color: #fff;
  height: 250px; }
  #slide9 .footertitle {
    font-size: 2.4rem; }
  #slide9 ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #slide9 ul li {
      font-size: 1.4rem;
      padding-bottom: 12px; }
      #slide9 ul li a {
        color: #fff; }
